
<input type="hidden" name="testMode" value="100">

<input type="hidden" name="instId" value="{{ form.instId }}">

<input type="hidden" name="cartId" value="{{ form.node_title }}">

<input type="hidden" name="amount" value="{{ form.amount }}">

<input type="hidden" name="currency" value="{{ form.currency }}">

<input type="hidden" name="MC_orderId" value="{{ form.node_orderId }}" />

<input type="hidden" name="MC_business" value="{{ form.siteTitle }}" />

<input type="hidden" name="MC_callback" value="{{ form.worldpay_callback }}" />

<input type="hidden" name="M_http_host" value="{{ form.worldpay_host }}" />

<input type="hidden" name="authMode" value="A"/>

<input type="hidden" name="MC_returnurl" value="{{ form.worldpay_returnurl }}">

<input type="hidden" name="MC_cancelurl" value="{{ form.worldpay_host }}">

<input type="hidden" name="MC_nodeid" value="{{ form.node_id }}">

<input id="worldpay_paynow" type="submit" value="Pay Now" />

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}